<table id="rounded-corner">
  <thead>
    <tr>
        <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Create_at</th>
          <th>Update_at</th>
      </tr>
  </thead>
</table>
