<%= render 'users/headeruser' %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Trần Thị Quyên</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<!-- jQuery file -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(function() {
$('#tabsmenu').tabify();
$(".toggle_container").hide();
$(".trigger").click(function(){
  $(this).toggleClass("active").next().slideToggle("slow");
  return false;
});
});
</script>
<table id="rounded-corner">
    <tbody>
      <tr class="odd">
        <td>
          <% @users.each do |user| %>
            <%= render user %></td>
          <% end %>
        </td>
      </tr>
    </tbody>
</table>
<div class="form_sub_buttons">
  <a href="#" class="button green">Edit selected</a>
  <a href="#" class="button red">Delete selected</a>
</div>
<%= paginate @users, theme: 'twitter-bootstrap-3' %>
